nav {
    background-color: var(--primary);
    height: 60px;
}

nav>div {
    width: 100px;
    font-family: "Roboto Flex", sans-serif;
    color: var(--white);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4.5rem;
}

nav>div>a {
    text-decoration: none;
    color: var(--white);
}

body.auth-body {
    background-color: var(--white);
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main.auth-main {
    background-color: var(--white);
    border-radius: 12px;
    padding: 24px;
    width: 360px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img.auth-logo {
    width: 90px;
    height: auto;
    margin-bottom: 16px;
}

h1.auth-title {
    font-size: 1.5rem;
    color: var(--heading);
    margin-bottom: 8px;
}

p.auth-description {
    font-size: 1.1rem;
    color: var(--txt);
    margin-bottom: 24px;
    line-height: 1.8rem;
}

section.auth-input-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

input.auth-input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.auth-input:focus, input.auth-input:hover {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 4px rgba(124, 174, 252, 0.5);
}

.auth-input-section>a {
    color: var(--heading);
    text-decoration: underline;
    text-align: end;
}

button.auth-button {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--primary);
}

button.auth-button:hover {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.3s;
}

p.auth-register {
    font-size: 0.8rem;
    color: var(--txt);
    margin-top: 1rem;
}

a.auth-register-link {
    color: var(--heading);
    text-decoration: underline;
    
}

div.auth-error {
    color: #ff4d4d;
    font-size: 1rem;
    margin-bottom: 16px;
}