body {
    overflow: hidden;
    padding-bottom: 32rem;
}

nav {
    background-color: var(--primary);
    height: 60px;
}

nav>div {
    max-width: 8rem;
    font-family: "Roboto Flex", sans-serif;
    color: var(--white);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4.5rem;
}

nav>div>a {
    text-decoration: none;
    color: var(--white);
}

main {
    background-color: var(--white);
    width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
}

main>div>h1 {
    font-family: "Roboto Flex", sans-serif;
    padding-bottom: 2rem;
    padding-left: 1.6rem;
    font-weight: 600;
}

.filters {
  width: 250px;
  height: 340px;
  padding: 1rem;
  margin-top: 4rem;
  font-family: "Roboto Flex", sans-serif;
}

.filters>div {
    padding-bottom: 0.5rem;
}

.filters>div>h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.filters>div>button {
    width: 90%;
    height: 50px;
    background-color: var(--primary);
    color: var(--white);
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    border: 2px solid var(--primary);
    border-radius: 4px;
    margin-top: 2rem;
}

.filters>div>button:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--white);
    border: 2px solid var(--primary);
    transition: 0.3s;
}

.filters>div>div>p {
    padding-top: 0.4rem;
    padding-left: 0.8rem;
}

.filters>div>div {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produtos {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 8rem;
}

.produtos>div {
    padding: 0.9rem;
    max-width:180px;
    max-height: 300px;
    border: 2px solid var(--white);
    border-radius: 16px;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.produtos>div:hover {
    border: 2px solid var(--yellow);
    transition: 0.3s;
    transform: scale(105%);
    cursor: pointer;
}

.produtos>div>p {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: 200;
    font-size: 0.9rem;
}

.produtos>div>img {
    min-width: 170px;
    height: 230px;
}

.produtos>div>div {
    display: flex;
    justify-content: space-between;
}

.produtos>div>div>h2 {
    font-size: 0.9rem;
    font-weight: 500;
}