header {
    background-color: var(--blue500);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

img#logo {
    padding: 0.5rem;
    margin-left: 0.5rem;
}

img#logo:hover {
    cursor: pointer;
    border: 1px solid white;
}

img#lupa {
    width: 1rem;
    height: 1rem;
}

div#search-bar {
    background-color: var(--blue200);
    padding: 0.5rem;
    margin: auto;
    height: 2.5vh;
    width: 28rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

div#search-bar>input {
    width: 25rem;
    height: 3vh;
    margin-left: 0.5rem;
    background-color: var(--blue200);
    border: none;
}

div#search-bar:hover, div#search-bar:focus {
    border: 1.5px solid white;
}

div#search-bar>input:focus {
    outline: none;
}

div.actions {
    display: flex;
    flex-direction: row;
}


div.dropdown  {
    width: 11vw;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-family: sans-serif;
    color: white;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    cursor: pointer;
    border: 1px solid var(--blue500);
    padding: 0.2rem;
}

.dropdown-button:hover, .dropdown-button:focus {
    border: 1px solid white;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue100);
    min-width: 160px;
    padding: 1rem;
    right: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content>a {
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: var(--blue500);
    width: 120px;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content>a:hover, .dropdown-content>a:focus {
    background-color: var(--blue100);
    color: var(--blue500);
}

.dropdown-content>p {
    font-family: sans-serif;
    color: black;
    padding: 0.5rem;
}

a.foto-perfil {
    width: 3rem;
    height: 2.65rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

a.foto-perfil>img {
    width: 2.5rem;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0);
}

a.foto-perfil>img:hover, a.foto-perfil>img:focus {
    cursor: pointer;
    border: 3px solid white;
    transition: 0.25s;
}

a.carrinho {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: var(--blue200);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0);
}

a.carrinho:hover, a.carrinho:focus {
    cursor: pointer;
    border: 3px solid white;
    transition: 0.25s;
}

div.actions {
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

div.actions>p>a {
    color: rgb(255, 99, 99);
    cursor: pointer;
}

.banner-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel {
    position: relative;
    overflow: hidden;
    
  }
  
  .carousel-image {
    width: 100%;
    height: 60vh;
    display: block;
  }
  
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button {
    color: white;
    background-color: #ff583300;
    border: none;
    height: 56vh;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    margin-left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
  }

  .next-button {
    color: white;
    background-color: #ff583300;
    border: none;
    height: 56vh;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    margin-right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  
  .prev-button:hover, .next-button:hover {
    border: 1px solid white;
  }

  .indicators {
    position: absolute;
    top: 65vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 2; 
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    border: 3px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .indicator.active {
    background-color: var(--blue500); 
    border: 3px solid  white;
  }
  
  .indicator:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }



/*
.banner {
    background-image: url(../../../public/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}
*/

.tab-bar {
    background-color: var(--blue200);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tab-links {
    padding: 0.5rem;
    width: 18rem;
    font-family: sans-serif;
    border: none;
    background-color: var(--blue200);
}

.tab-links:hover {
    cursor: pointer;
    border: 1.5px solid white;
    border-radius: 10px;
}

.carousel1 {
    background-color: var(--blue100);
    width: 100%;
    height: 450px;
}

.carousel1>h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.carousel1-content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.carousel1-content>button {
    width: 100px;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: var(--blue500);
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
}

.carousel1-content>button:hover {
    border: 1px solid white;
    cursor: pointer;
}

.carousel1-card {
    width: 200px;
    height: 300px;
    background-color: var(--blue100);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 1rem;
    margin: 5px;
}

.carousel1-card:hover {
    transform: scale(110%);
    transition: 0.25s;
    cursor: pointer;
}

.carousel1-card>img {
    width: 200px;
    height: 270px;
}

.carousel1-card>p {
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 10px;
}

.carousel2 {
    background-color: var(--blue100);
    width: 100%;
    height: 50vh;
}

.carousel2>h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

footer {
    background-color: var(--blue500);
    width: 100%;
    height: 33vh;
    
}

footer>hr {
    border: 1px solid white;
    width: 95vw;
    position: relative;
    left: 2rem;
    
}

#foot1 {
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#foot1>div {
    padding: 1rem;
}

footer>div>img {
    padding: 1rem;
}

#foot2 {
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

#foot2>a {
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
